body {
  font-family: calibri, sans-serif;
  font-size: 1em;
}

.divTable {
  display: table;
  border-collapse: separate;
  border-spacing: 5px;
}
.divRow {
  display: table-row;
  text-align: center;
}

.divCell {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 5px;
}

.divCell:nth-child(1) {
  text-align: right;
}

.divCell:nth-child(2) {
  text-align: left;
}

textarea {
  width: 400px;
  height: 50px;
  max-width: 500px;
  max-height: 300px;
}

.bold {
  font-weight: bold;
}
