.divTable {
  display: table;
}
.divRow {
  display: table-row;
  text-align: center;
}
.divCell {
  display: table-cell;
  text-align: center;
  margin-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
textarea {
  max_width: 500px;
  max_height: 300px;
}
text {

}
.output{
  text-emphasis: strong;
}
